

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   body {
     padding-top: 50px;
     padding-bottom: 20px;
   }
   
   .bg {
     background: url('../img/mikser.jpg') no-repeat center center;
     width: 100%;
     height: 150px; /*same height as jumbotron */
     top:0;
     left:0;
     z-index: -1;
   }

   .jumbotron {
     height: 150px;
     color: white;
     text-shadow: #444 0 1px 1px;
     background:transparent;
   }

   .notasong td:not(.timeclass) {
     opacity: 0.3;
   }
