  <div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Namiary na wybrany utwór</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-4">
                <img src="https://i.scdn.co/image/8c54f79bbed8ac4af7a270786888c26bca930c42" class="img-fluid">
              </div>
              <div class="col-8">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et viverra metus. Donec ex mauris, pretium ut posuere sit amet, rutrum pharetra est. Vivamus blandit fermentum nulla. Aenean elit nulla, rhoncus in ullamcorper ac, dignissim eu erat. Sed ultrices urna ut lorem pretium, dapibus lobortis lectus congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vitae tristique enim. Praesent ligula dui, porta a tellus eu, dictum tincidunt ligula. Suspendisse mattis rhoncus dignissim. Sed at nisl id risus ullamcorper pellentesque et a nisi. Etiam massa est, ullamcorper quis laoreet sed, ornare sed velit. Maecenas consectetur risus orci, vel cursus ligula viverra in. Integer at aliquam sem. </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
