<tr class="notasong">
  <td>
    <a href="#" class="float-left .img-thumbnail">
                  <img src="{{ play.track.image }}" width="64" class="media-photo">
                  </a>
  </td>
  <td colspan="4" class="nodata align-middle"><h5>Brak danych / nieobsługiwany odtwarzacz / cisza</h5></strong></td>

  </td>
  <td class="timefrom timeclass align-middle">{{ tf(play.timefrom) }}</td>
  <td class="timeto timeclass align-middle">{{ tf(play.timeto) }}</td>
  <td class="timeto timeclass align-middle"> {{ tf(play.timeto) - tf(play.timefrom) }}</td>
  <td class="otherbuttons align-middle">
    {% if debug %}
        <button
          type="button"
          data-toggle="modal"
          data-target="#debugModal-{{ play.id }}"
          class="btn btn-outline-secondary btn-sm">Debug</button>
    {% endif %}
  </td>
</tr>
