<tr>
  <td>
    <a href="{{ url_for('song', songid=play.songid) }}" class="float-left .img-thumbnail">
                  <img src="{{ play.track.album.cover }}" width="64" class="media-photo" alt="{{ play.track.album.albumname }}">
                  </a>
  </td>
  <td class="songname align-middle">
    <a href="{{ url_for('song', songid=play.songid) }}">
      <strong>{{ play.track.songname }}</strong>
    </a>
  </td>
  <td class="artist align-middle">
    <a href="{{ url_for('artist', artistid=play.track.artistid)}}">
      <em>{{ play.track.artist.artistname }}</em>
    </a>
  </td>
  <td class="timefrom align-middle">{{ moment(tf(play.timefrom), "YYYY-MM-DD HH:mm").format("D MMMM YYYY, HH:mm:ss") }}</td>
  <td class="timeto align-middle"> {{ tf(play.timeto) - tf(play.timefrom) }}</td>
  <td class="infobutton align-middle">
    <button
    type="button"
    class="btn btn-outline-success btn-sm"
    data-toggle="modal" data-target="#infoModal-{{ play.id }}">Info</button>
  </td>
  {% if debug %}
  <td class="otherbuttons align-middle">
    <button
      type="button"
      data-toggle="modal"
      data-target="#debugModal-{{ play.id }}"
      class="btn btn-outline-secondary btn-sm">Debug</button>
  </td>
  {% endif %}
</tr>
