<tr>
  <td>
    <a href="#" class="float-left .img-thumbnail">
                  <img src="{{ play.track.image }}" width="64" class="media-photo">
                  </a>
  </td>
  <td id="songname" class="align-middle"><strong>{{ play.track.songname }}</strong></td>
  <td id="album" class="align-middle">{{ play.track.album }}</td>
  <td id="artist" class="align-middle"><em>{{ play.track.artist }}</em></td>
  <td id="infobutton" class="align-middle">
    <button
      type="button"
      class="btn btn-outline-success btn-sm"
      data-toggle="modal" data-target="#infoModal-{{ play.id }}">Info</button>
  </td>
  <td id="timefrom" class="align-middle">{{ tf(play.timefrom) }}</td>
  <td id="timeto" class="align-middle">{{ tf(play.timeto) }}</td>
  <td id="timeto" class="align-middle"> {{ tf(play.timeto) - tf(play.timefrom) }}</td>
  <td id="otherbuttons" class="align-middle">
    <button type="button" data-toggle="modal" data-target="#detailsModal" class="btn btn-outline-primary btn-sm">Klik</button>
    <button
      type="button"
      data-toggle="modal"
      data-target="#debugModal"
      data-debugplay=" {{ play.data() }}"
      data-debugsong=" {{ play.track.data() }}"
      class="btn btn-outline-secondary btn-sm">Debug</button>
  </td>
</tr>
