{% extends "base.html" %}
{% from 'macros.html' import showdata with context %}
{% from 'macros.html' import showdatabar with context %}

{% block content %}

<div class="container">
  <hr>
  <div class="row">
    <div class="col-4">
      <img class="sticky-top" style="top: 100px;" src="{{ albumdata.cover }}" width="100%"></img>
    </div>
    <div class="col-8">
      <h3>
        <span class="song-title">Album:</span>
        <small class="text-muted song-artist">{{ albumdata.albumname }}</small>
      </h3>
      <hr>
      {% if albumdata.popularity %}
        {% if albumdata.popularity is not none %}
          {{ showdatabar('Popularność albumu:', 0, 100, albumdata.popularity, 1)}}
        {% endif %}
      {% endif %}

      {% if albumdata.popularity %}
        {% if albumdata.popularity is not none %}
          {{ showdata('Data wydania albumu', albumdata.release_date)}}
        {% endif %}
      {% endif %}

      {% if albumdata.total_tracks %}
        {% if albumdata.total_tracks is not none %}
          {{ showdatabar('Przesłuchanych utworów z albumu:', 0, albumdata.total_tracks|int, songsofalbum|length, 0)}}
          <hr>
        {% endif %}
      {% endif %}

      <h3>
        <span class="song-title">Przesłuchane utwory z tego albumu</span>
      </h3>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Tytuł</th>
            <th scope="col">Kiedy ostatnio</th>
          </tr>
        </thead>
        <tbody>
        {% for song in songsofalbum%}
          <tr>
            <td><a href="{{url_for('song', songid=song.songid)}}">{{song.songname}}</a></td>
            <td>{{ moment(tf(lastplay[song.songid]['timefrom']), "YYYY-MM-DD HH:mm").fromNow() }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
<!--
{#{{ albumdata.data() }} #}
      <hr>
  {#    {{ artistdata.data() }} #}
      <hr>
    {#  {{ songsofalbum }} #} -->

    </div>
  </div>
</div>

{% endblock %}
